@font-face {
    font-family: OpenSans-Light;
    src: url('../fonts/OpenSans-Light.ttf');
}

html,
body {
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100%;
}

body {
    background: url('../images/theme/michal-parzuchowski-43274.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#logo {
    padding-top: 20px;
}

#sectionMenu {
    padding-top: 100px;
}

i {
    color: rgb(255, 255, 255);
}

h1 {
    color: rgb(255, 255, 255);
    font-family: 'OpenSans-Light';
    font-size: 250%;
}

button:focus {
    outline: 0;
}

.btn {
    text-decoration: none !important
}

.btn-link {
    color: rgb(255, 255, 255);
    font-family: 'OpenSans-Light';
}

.btn-link:hover {
    color: rgb(255, 255, 255);
    opacity: 0.8;
}

#play:hover,
#howToPlay:hover,
#credits:hover {
    opacity: 0.8;
    font-size: 200%;
}

h2 {
    color: rgb(255, 255, 255);
    font-family: 'OpenSans-Light';
    font-size: 100%;
    padding-top: 125px;
}

#btnBackMenu {
    padding-top: 50px;
    font-size: 200%;
}

#btnBackMenu:focus {
    color: rgb(255, 255, 255);
}

#btnBackMenu:hover {
    font-size: 275%;
}


/* Game Modes */

#vira img,
#hotSpin img,
#bancaFrancesa img {
    opacity: 0.8;
}

#vira img:hover,
#hotSpin img:hover,
#bancaFrancesa img:hover {
    opacity: 1;
    transform: scale(1.5, 1.5);
}